<div>
  <div *ngIf="!myTodos.completed && !myTodos.isDeleted"  class="d-flex container task-container p-2 mb-4" >

    <div class="p-2 w-100">
      <h3 class="m-4 text-light todo-title-style" (click)="sendTaskData(myTodos._id)" routerLink="/task/{{myTodos._id}}" >{{myTodos.todo}}</h3>
    </div>

    <div class="p-2 flex-shrink-1">
      <button (click)="favoriteTask(myTodos._id)" class="btn btn-primary fav-icon-color"><i class="bi bi-star fs-2"></i></button>
    </div>

    <div class="p-2 flex-shrink-1">
      <button  (click)="completeTask(myTodos._id)" class="btn btn-success text-light"><i class="bi bi-check-circle fs-2"></i></button>
    </div>

    <div class="p-2 flex-shrink-1">
      <button (click)="deleteTask(myTodos._id)" class="btn btn-danger text-light"><i class="bi bi-trash3 fs-2"></i></button>
    </div>
   </div>
</div>

 <div *ngIf="myTodos.completed && !myTodos.isDeleted">

  <div   class="d-flex container task-container p-2 mb-4" >
    <div class="p-2 w-100">
      <h3 class="m-4 text-light text-decoration-line-through text-success" (click)="sendTaskData(myTodos._id)" routerLink="/task/{{myTodos._id}}">{{myTodos.todo}}</h3>
    </div>

    <div class="p-2 flex-shrink-1">
      <button (click)="unCompleteTask(myTodos._id)" class="btn btn-primary text-light"><i class="bi bi-arrow-counterclockwise fs-2"></i></button>
    </div>

    <div class="p-2 flex-shrink-1">
      <button (click)="deleteTask(myTodos._id)"  class="btn btn-danger text-light"><i class="bi bi-trash3 fs-2"></i></button>
    </div>
  </div>
</div>


