<div class="container h-25 allfooter">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-4 mt-4 border-top  fixed-bottom" id="footer" >
    <p class="col-md-4 mb-0  ms-2">&copy; 2023 todo, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto  text-decoration-none">
      <p class="copyright">This website made by Web Developer <a class=" text-decoration-none "  href="https://github.com/AliFathy-1999" target="_blank"> <i class="bi bi-github"></i> Ali Ahmed Fathi</a></p>
    </a>
  </footer>
</div>
