<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="../../assets/quote.png" alt="" width="72" height="57">
  <h1 class="display-5 fw-bold">Your favorite quote</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">{{user.quote || "Lorem ipsum dolor sit amet consectetur, adipiscing elit interdum."}}</p>
  </div>
</div>

<section class="todo-container container my-4 border border-dark rounded-2 mt-5">
  <h3 class="text-center text-dark p-3">So What We Gonna Do ? </h3>
  <div class="d-flex m-5">
    <input class="form-control form-control-lg me-2" type="text" placeholder="Enter Task" [(ngModel)]="todoBody">
    <button (click)="addTask(todoBody)" class="btn btn-primary "><i class="bi bi-plus-circle-fill fs-2"></i></button>
  </div>
  <div class="d-flex justify-content-center">
    <div class="alert alert-danger w-50" *ngIf="errorMessage">
      <h3  class="text-center p-1"><i class="bi bi-exclamation-triangle-fill"></i> {{errorMessage}}</h3>
    </div>
  </div>
  <h3 class="text-center m-5"><i class="bi bi-list-task"></i> Todo tasks</h3>
  <div class="d-flex justify-content-center">
    <div class="alert alert-info w-25" *ngIf="(todos.length == 0)">
      <h3  class="text-center"><i class="bi bi-info-circle"></i> No tasks yet</h3>
    </div>
  </div>
  <div *ngFor="let item of todos">
    <div *ngIf="!item.completed"  class="d-flex container task-container p-2 mb-4" >

      <div class="p-2 w-100">
        <h3 class="m-4 text-light todo-title-style" (click)="sendTaskData(item.id)" routerLink="/task/{{item.id}}" >{{item.todo}}</h3>
      </div>

      <div class="p-2 flex-shrink-1">
        <button (click)="favoriteTask(item.id)" class="btn btn-primary text-light"><i class="bi bi-star fs-2"></i></button>
      </div>

      <div class="p-2 flex-shrink-1">
        <button (click)="completeTask(item.id)" class="btn btn-success text-light"><i class="bi bi-check-circle fs-2"></i></button>
      </div>

      <div class="p-2 flex-shrink-1">
        <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-danger text-light"><i class="bi bi-trash3 fs-2"></i></button>
      </div>
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
      tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Todo</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Do you want to delete this todo ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button (click)="deleteTask(item.id)" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div  class="d-flex justify-content-center">
    <h3 class="btn btn-success text-center m-5 text-light fs-3" ><i class="bi bi-check-circle"></i> Completed tasks</h3>
  </div>
  <div *ngFor="let item of todos">
    <div *ngIf="item.completed"  class="d-flex container task-container p-2 mb-4" >

      <div class="p-2 w-100">
        <h3 class="m-4 text-light text-decoration-line-through" >{{item.todo}}</h3>
      </div>

      <div class="p-2 flex-shrink-1">
        <button (click)="unCompleteTask(item.id)" class="btn btn-primary text-light"><i class="bi bi-arrow-counterclockwise fs-2"></i></button>
      </div>

      <div class="p-2 flex-shrink-1">
        <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-danger text-light"><i class="bi bi-trash3 fs-2"></i></button>
      </div>
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
      tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Todo</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Do you want to delete this todo ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button (click)="deleteTask(item.id)" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

